[Unit]
    Description=Example .NET Web API Application running on Ubuntu

    [Service]
    ExecStart=/usr/bin/dotnet /home/tonyawad/source/publish/hwapp.dll
    Restart=always
    RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
    SyslogIdentifier=dotnet-example
    User=tonyawad
    Environment=ASPNETCORE_ENVIRONMENT=Production

    [Install]
    WantedBy=multi-user.target

