[Unit]
Description={{ServiceDescription}}

[Service]
WorkingDirectory={{WorkingDirectory}}
ExecStart=/usr/bin/dotnet {{WorkingDirectoryPlusDLL}}
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier={{SystemLogId}}
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target